body {
	font-family: 'Spectral';
	overflow: scroll;
	padding-left: 10px;

	padding-top: 10px;
	-webkit-user-select: none;

	animation-name: fadeIn;/*fade-in on page load*/
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-delay: none;
}
	@keyframes fadeIn {/*fade-in opacity settings*/
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

.title {
	font-size: 30px;

}

a {
	-webkit-user-select: pointer;
	color: black;
}

li {
	padding-left: 25px;
}

.subtitle {
	font-size: 25px;
	text-decoration: none;
}