body {
	/*fade-in on page load*/
	animation-name: fadeIn;
	animation-duration: 5s;
	animation-iteration-count: 1;
	animation-delay: none;
}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

/*.circles {
	 display: inline-block;
     margin: 10px;
     width: 40px;
     height: 40px;
     border-radius: 20px;
     background-color: red;
}*/

.bodyFade {
	/*fade animation settings*/
	animation-name: bodyFade;
	animation-duration: 60s;
	animation-iteration-count: infinite;
	animation-delay: none;
	animation-direction: alternate-reverse;
}
	/*fade opacity settings*/
	@keyframes bodyFade {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

#cometParent {
	width: 30%;
	top: 50px;
	left: 15px;
	float: left;
	position: absolute;
	z-index: 2;
}
	#comet {
		width: 100%;
	}

#computerParent {
	width: 20%;
	top: 350px;
	left: 15px;
	float: left;
	position: absolute;
	z-index: 2;
}
	#computer {
		width: 100%;
	}

/*dream description style*/
.description {
	background-color: white;
	float: left;
	top: 0px;
	left: 0px;
	position: absolute;
	font-size: 20px;
	border: black 1px solid;
	font-family: 'VT323', monospace;
	-webkit-user-select: none;
	cursor: default;
	display: none;
}

#dolphinsParent {
	width: 25%;
	top: 100px;
	left: 800px;
	float: left;
	position: absolute;
	z-index: 3;
}
	#dolphins {
		width: 100%;
	}

#drowningParent {
	width: 25%;
	top: 575px;
	left: 790px;
	float: left;
	position: absolute;
	z-index: 5;
}
	#drowning {
		width: 100%;
	}

/*fade div animation*/
.fade {
	animation-name: divFade;/*fade animation settings*/
	animation-duration: 30s;
	animation-iteration-count: infinite;
	animation-delay: none;
	animation-direction: alternate-reverse;
}
	@keyframes divFade {/*fade-in opacity settings*/
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

#fadeDiv {
	overflow: auto;
}

#fishParent {
	width: 15%;
	top: 150px;
	left: 850px;
	float: left;
	position: absolute;
	z-index: 4;
}
	#fish {
		width: 100%;
	}

#handParent {
	width: 30%;
	top: 768px;
	left: 896px;
	float: left;
	position: absolute;
	z-index: 3;
}
	#hand {
		width: 100%;
	}

#jewelsParent {
	width: 100%;
	top: 640px;
	left: 0px;
	float: left;
	position: absolute;
	z-index: 2;
}
	#jewels {
		width: 100%;
	}

#mouthParent {
	width: 20%;
	top: 900px;
	left: 300px;
	float: left;
	position: absolute;
	z-index: 2;
}
	#mouth {
		width: 100%;
	}

#nightParent {
	width: 95%;
	top: 1380px;
	left: 35px;
	float: left;
	position: absolute;
	z-index: 2;
}
	#night {
		width: 100%;
	}

#owlParent {
	width: 20%;
	top: 200px;
	left: 450px;
	float: left;
	position: absolute;
	z-index: 2;
}
	#owl {
		width: 100%;
	}

#poolParent {
	width: 35%;
	top: 475px;
	left: 725px;
	float: left;
	position: absolute;
	z-index: 4;
}
	#pool {
		width: 100%;
	}

#prayerParent {
	width: 24%;
	top: 1050px;
	left: 450px;
	float: left;
	position: absolute;
	z-index: 3;
}
	#prayer {
		width: 100%;
	}

#rainbowParent {
	width: 100%;
	top: 870px;
	left: 0px;
	float: left;
	position: absolute;
	z-index: 1;
}
	#rainbow {
		width: 100%;
	}

#rosesParent {
	width: 20%;
	top: 275px;
	left: 450px;
	float: left;
	position: absolute;
	z-index: 4;
}
	#roses {
		width: 100%;
	}

#snakeParent {
	width: 25%;
	top: 0px;
	left: 950px;
	float: left;
	position: absolute;
	z-index: 2;
}
	#snake {
		width: 100%;
	}

#spaceParent {
	width: 75%;
	top: 0px;
	left: 0px;
	float: left;
	position: absolute;
}
	#space {
		width: 100%;
		z-index: 0;
	}

#waterBlueParent {
	width: 40%;
	top: 0px;
	left: 768px;
	float: left;
	position: absolute;
	z-index: 0;
}
	#waterBlue {
		width: 100%;
	}

#wildAnimalParent {
	width: 30%;
	top: 1550px;
	left: 450px;
	
	position: absolute;
	z-index: 3;
}
	#wildAnimal {
		width: 100%;
	}